h1 { font-size: 2em; } 
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

.content h2::before,
.content h3::before,
.content h4::before,
.content h5::before,
.content h6::before {
  content: "";
}

.content h1:not(:first-child) {
  margin-top: 80px;
}

.content h2:not(:first-child) {
  margin-top: 40px;
}

.content h3:not(:first-child),
.content h4:not(:first-child),
.content h5:not(:first-child),
.content h6:not(:first-child) {
  margin-top: 25px;
}

.content ul {
  padding-left: 0px;
}

